body{
    background-color: beige;   
}

main{
    display: inline-table;

    
}
.survey--header{
    text-align: center;
}

.survey--list{
    text-align: center;
    display: inline-flex;
}

li a{
    color: green;
}   



.btn--style{
    background-color: green;
    color: white;
    border-radius: 5px;
}

form{
    background-color: beige;
}

.choice--style{
    display: inline-table;
}